body{
    margin:0;
    font-family:Arial,sans-serif;
    background:rgb(179, 240, 13);
}

.container{
    width:500px;
    margin:120px auto;
    text-align:center;
}

h1{
    color:#007bff;
}

button{
    padding:12px 25px;
    border:none;
    background:#28a745;
    color:#fff;
    border-radius:5px;
    font-size:18px;
}
